/* body {
    font-family: 'Pretendard';
    background-color: rgba(0, 0, 0, 0.5);
} */
.log-in-wrap {
    width: 100%;
}
.log-in-wrap .inner {
    margin: auto;
    width: 900px;
    display: flex;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
/* .log-in-wrap .inner p {
    position: absolute;
    left: 0;
    top: 0;
    color: #ff0000;
    z-index: 20;
} */

.log-in-wrap .inner .left {
}
.log-in-wrap .inner .right {
    margin-left: 112px;
}
.log-in-wrap .right i {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 24px;
    font-weight: 600;
}
.log-in-wrap .inner .right h3 {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin: 137px auto 54px auto;
}
.log-in-wrap .inner .right ul li {
    display: flex;
    position: relative;
}

.log-in-wrap .inner .right ul li i {
    font-size: 24px;
    font-weight: 200;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    color: #c6c6c6;
}

.log-in-wrap .inner .right ul li input {
    height: 52px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    padding-left: 40px;
}
.log-in-wrap .inner .right ul li input::placeholder {
    color: #c6c6c6;
}

.log-in-wrap .inner .right .btn {
    height: 54px;
    width: 370px;
    margin-top: 10px;
    margin-bottom: 16px;
    color: white;
    background-color: #000;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.log-in-wrap .inner .right .btn:hover {
    background-color: #0b4b4b;
}
.log-in-wrap .inner .right div {
    box-sizing: border-box;
    /* padding: 0 80px; */
    display: flex;
    justify-content: center;
}
.log-in-wrap .inner .right div span {
    position: relative;
    padding: 0 10px;
}
.log-in-wrap .inner .right div span a {
    /* gap: 10px; */
}
.log-in-wrap .inner .right div span:first-child::after {
    content: '';
    display: block;
    width: 1px;
    height: 13px;
    background-color: #797979;
    position: absolute;
    top: 51%;
    transform: translateY(-48%);
    left: 75px;
}
.log-in-wrap .inner .right p {
    margin-top: 46px;
}
.log-in-wrap .inner .right p button {
    height: 44px;
    width: 176px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 300;
    /* 글자 아래위로 중간 */
    vertical-align: middle;
    border: 1px solid #797979;
    color: #797979;
    cursor: pointer;
    margin: 0 5px;
}
.log-in-wrap .inner .right p img {
    top: 50%;
    transform: translateY(40%);
    margin-right: 8px;
}
.log-in-wrap .inner .right p .naver:hover {
    color: #000;
    border: 1px solid #000;
}
.log-in-wrap .inner .right p .kakao:hover {
    color: #000;
    border: 1px solid #000;
}
.w362 {
    width: 322px;
}
